<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998373011267-uf0li5rklvu7q2pdiq8lufsijobpetqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998373011267-uf0li5rklvu7q2pdiq8lufsijobpetqe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998373011267-f629an89i7jcj80ib9m54ckb8iuimmu4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDimpAFL1czXPBN5Iu0BRbl7Qk2oOICOQw</string>
	<key>GCM_SENDER_ID</key>
	<string>998373011267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phabashy.MobileTeacher</string>
	<key>PROJECT_ID</key>
	<string>mobile-teacher-2f1ac</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-teacher-2f1ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998373011267:ios:edc82cf10abc08dc1a09f6</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-teacher-2f1ac.firebaseio.com</string>
</dict>
</plist>